[buildout]
extensions = mr.developer
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    versions.cfg

auto-checkout =
    canaimagnulinux.web.locales
    canaimagnulinux.web.theme
    collective.geo.usersmap

package-name = canaimagnulinux.web.policy
package-extras = [test]
package-min-coverage = 89
test-eggs = Pillow

parts -= code-analysis

parts +=
    createcoverage
    coverage-sh

allow-hosts +=
    code.google.com
#    robotframework.googlecode.com

[instance]
eggs +=
    ${buildout:auto-checkout}

[sources]
canaimagnulinux.web.locales = git https://github.com/CanaimaGNULinux/canaimagnulinux.web.locales.git
canaimagnulinux.web.theme = git https://github.com/CanaimaGNULinux/canaimagnulinux.web.theme.git
collective.geo.usersmap = git https://github.com/collective/collective.geo.usersmap.git
